.success-notify-class {
  border: 1px solid #29CC5F !important;
  border-radius: 20px !important;
  background-image: linear-gradient(to right, #29CC5F1A, #29CC5F1A) !important;
}

.failed-notify-class {
  border: 1px solid #FF4D4D !important;
  border-radius: 8px !important;
  background-image: linear-gradient(to right, #E52E391A, #E52E391A) !important;
  // background-color: red;
  color: green;
}

.warning-notify-class {
  border: 1px solid #FEBE01 !important;
  border-radius: 8px !important;
  background-image: linear-gradient(to right, #FEBE011A, #FEBE011A) !important;
}

.loading-notify-class {
  border: 1px solid #EBEBEB !important;
  border-radius: 8px !important;
  background-image: linear-gradient(to right, #F6F6F6, #F6F6F6) !important;
}

.progress-notify-class {
  border: 1px solid #3377FF !important;
  border-radius: 8px !important;
  background-image: linear-gradient(to right, #3377FF1A, #3377FF1A) !important;
}