@use "sass:meta";

@mixin define-root-vars($args...) {
    @each $name, $value in meta.keywords($args) {
      --q-#{$name}: #{$value};
    }
  }

body {
    @include define-root-vars(
        $background-1: #ffffff,
        $background-2: #ffffff,
        $background-3: $grey-1,
        $background-4: $grey-2,
        $background-5: $grey-3,
        $background-6: $grey-11,
        $background-7: $grey-9,
        $background-8: $grey-1,
        $background-9: $grey-10,
        $background-10: $grey-10,
        $background-11: $grey-14,
        $background-12: $grey-8,
        $background-hover: rgba(0, 0, 0, 0.03),
        $background-selected: rgba(0, 0, 0, 0.1),
        $background-alpha: rgba(255, 255, 255, 0.6),
        $separator: rgba(0, 0, 0, 0.1),
        $separator-2: $grey-2,
        $separator-3: $grey-10,
        $ink-1: $grey-10,
        $ink-2: $grey-8,
        $ink-3: $grey-5,
        $ink-on-brand: #ffffff,
        $ink-on-brand-disabled: rgba(255, 255, 255, 0.4),
        $input-bg-disabled: rgba(0, 0, 0, 0.03),
        $input-stroke: rgba(0, 0, 0, 0.1),
        $input-stroke-hover: rgba(0, 0, 0, 0.2),
        $input-stroke-disabled: rgba(0, 0, 0, 0.05),
        $radio-stroke: rgba(0, 0, 0, 0.2),
        $radio-stroke-hover: rgba(0, 0, 0, 0.3),
        $radio-stroke-disabled: rgba(0, 0, 0, 0.1),
        $btn-bg-hover: rgba(0, 0, 0, 0.02),
        $btn-bg-pressed: rgba(0, 0, 0, 0.04),
        $btn-stroke: rgba(0, 0, 0, 0.1),
        $btn-stroke-hover: rgba(0, 0, 0, 0.2),
        $btn-stroke-disabled: rgba(0, 0, 0, 0.05),
        $orange-soft: $orange-1,
        $orange-alpha: rgba($orange-6, 0.1),
        $orange-default: $orange-6,
        $orange-hover: $orange-7,
        $orange-pressed: $orange-8,
        $orange-disabled: $orange-3,
        $blue-soft: $blue-1,
        $blue-alpha: rgba($blue-6, 0.1),
        $blue-default: $blue-6,
        $blue-hover: $blue-7,
        $blue-pressed: $blue-8,
        $blue-disabled: $blue-3,
        $red-soft: $red-1,
        $red-alpha: rgba($red-6, 0.1),
        $red-default: $red-6,
        $red-hover: $red-7,
        $red-pressed: $red-8,
        $red-disabled: $red-3,
        $yellow-soft: $yellow-1,
        $yellow-alpha: rgba($yellow-6, 0.1),
        $yellow-default: $yellow-6,
        $yellow-hover: $yellow-7,
        $yellow-pressed: $yellow-8,
        $yellow-disabled: $yellow-3,
        $green-soft: $green-1,
        $green-alpha: rgba($green-6, 0.1),
        $green-default: $green-6,
        $green-hover: $green-7,
        $green-pressed: $green-8,
        $green-disabled: $green-3,
        $teal-soft: $teal-1,
        $teal-alpha: rgba($teal-6, 0.1),
        $teal-default: $teal-6,
        $teal-hover: $teal-7,
        $teal-pressed: $teal-8,
        $teal-disabled: $teal-3,
        $light-blue-soft: $light-blue-1,
        $light-blue-alpha: rgba($light-blue-6, 0.1),
        $light-blue-default: $light-blue-6,
        $light-blue-hover: $light-blue-7,
        $light-blue-pressed: $light-blue-8,
        $light-blue-disabled: $light-blue-3,
        $light-green-soft: $light-green-1,
        $light-green-alpha: rgba($light-green-6, 0.1),
        $light-green-default: $light-green-6,
        $light-green-hover: $light-green-7,
        $light-green-pressed: $light-green-8,
        $light-green-disabled: $light-green-3,
        $ink-on-brand-black: $grey-10,
        $ink-on-brand-black-disabled: rgba(31, 31, 31, 0.4),
        $ink-tooltip: $grey-1,
        $tooltip-bg: $grey-9
    );
}
  
body.body--dark {
    @include define-root-vars(
        $background-1: $grey-10,
        $background-2: $grey-14,
        $background-3: $grey-9,
        $background-4: $grey-8,
        $background-5: $grey-7,
        $background-6: $grey-14,
        $background-7: $grey-1,
        $background-8: $grey-10,
        $background-9: #ffffff,
        $background-10: $grey-1,
        $background-11: #ffffff,
        $background-12: $grey-2,
        $background-hover: rgba(255, 255, 255, 0.06),
        $background-selected: rgba(255, 255, 255, 0.1),
        $background-alpha: rgba(255, 255, 255, 0.1),
        $separator: rgba(255, 255, 255, 0.1),
        $separator-2: $grey-9,
        $separator-3: $grey-8,
        $ink-1: $grey-3,
        $ink-2: $grey-5,
        $ink-3: $grey-7,
        $ink-on-brand: #ffffff,
        $ink-on-brand-disabled: rgba(255, 255, 255, 0.4),
        $input-bg-disabled: rgba(255, 255, 255, 0.06),
        $input-stroke: rgba(255, 255, 255, 0.2),
        $input-stroke-hover: rgba(255, 255, 255, 0.3),
        $input-stroke-disabled: rgba(255, 255, 255, 0.1),
        $radio-stroke: rgba(255, 255, 255, 0.3),
        $radio-stroke-hover: rgba(255, 255, 255, 0.4),
        $radio-stroke-disabled: rgba(255, 255, 255, 0.2),
        $btn-bg-hover: rgba(255, 255, 255, 0.04),
        $btn-bg-pressed: rgba(255, 255, 255, 0.08),
        $btn-stroke: rgba(255, 255, 255, 0.2),
        $btn-stroke-hover: rgba(255, 255, 255, 0.3),
        $btn-stroke-disabled: rgba(255, 255, 255, 0.1),
        $orange-soft: $orange-16,
        $orange-alpha: rgba($orange-11, 0.1),
        $orange-default: $orange-11,
        $orange-hover: $orange-6,
        $orange-pressed: $orange-5,
        $orange-disabled: $orange-14,
        $blue-soft: $blue-16,
        $blue-alpha: rgba($blue-11, 0.1),
        $blue-default: $blue-11,
        $blue-hover: $blue-6,
        $blue-pressed: $blue-5,
        $blue-disabled: $blue-14,
        $red-soft: $red-16,
        $red-alpha: rgba($red-11, 0.1),
        $red-default: $red-11,
        $red-hover: $red-6,
        $red-pressed: $red-5,
        $red-disabled: $red-14,
        $yellow-soft: $yellow-16,
        $yellow-alpha: rgba($yellow-11, 0.1),
        $yellow-default: $yellow-11,
        $yellow-hover: $yellow-6,
        $yellow-pressed: $yellow-5,
        $yellow-disabled: $yellow-14,
        $green-soft: $green-16,
        $green-alpha: rgba($green-11, 0.1),
        $green-default: $green-11,
        $green-hover: $green-6,
        $green-pressed: $green-5,
        $green-disabled: $green-14,
        $teal-soft: $teal-16,
        $teal-alpha: rgba($teal-11, 0.1),
        $teal-default: $teal-11,
        $teal-hover: $teal-6,
        $teal-pressed: $teal-5,
        $teal-disabled: $teal-14,
        $light-blue-soft: $light-blue-16,
        $light-blue-alpha: rgba($light-blue-11, 0.1),
        $light-blue-default: $light-blue-11,
        $light-blue-hover: $light-blue-6,
        $light-blue-pressed: $light-blue-5,
        $light-blue-disabled: $light-blue-14,
        $light-green-soft: $light-green-16,
        $light-green-alpha: rgba($light-green-11, 0.1),
        $light-green-default: $light-green-11,
        $light-green-hover: $light-green-6,
        $light-green-pressed: $light-green-5,
        $light-green-disabled: $light-green-14,
        $ink-on-brand-black: $grey-10,
        $ink-on-brand-black-disabled: rgba(31, 31, 31, 0.4),
        $ink-tooltip: $grey-1,
        $tooltip-bg: $grey-8
    );
}

  