@function setColorVar($color-name)
  @return var(--q-#{$color-name})


.bg-background-1
    background: setColorVar(background-1) !important
.bg-background-2
    background: setColorVar(background-2) !important
.bg-background-3
    background: setColorVar(background-3) !important
.bg-background-4
    background: setColorVar(background-4) !important
.bg-background-5
    background: setColorVar(background-5) !important
.bg-background-6
    background: setColorVar(background-6) !important
.bg-background-7
    background: setColorVar(background-7) !important
.bg-background-8
    background: setColorVar(background-8) !important
.bg-background-9
    background: setColorVar(background-9) !important
.bg-background-10
    background: setColorVar(background-10) !important
.bg-background-11
    background: setColorVar(background-11) !important
.bg-background-12
    background: setColorVar(background-12) !important
.bg-background-hover
    background: setColorVar(background-hover) !important
.bg-background-selected
    background: setColorVar(background-selected) !important
.bg-background-alpha
    background: setColorVar(background-alpha) !important
.bg-separator
    background: setColorVar(separator) !important
.bg-separator-2
    background: setColorVar(separator-2) !important
.bg-separator-3
    background: setColorVar(separator-3) !important
.bg-ink-1
    background: setColorVar(ink-1) !important
.bg-ink-2
    background: setColorVar(ink-2) !important
.bg-ink-3
    background: setColorVar(ink-3) !important
.bg-ink-on-brand
    background: setColorVar(ink-on-brand) !important
.bg-ink-on-brand-disabled
    background: setColorVar(ink-on-brand-disabled) !important
.bg-input-bg-disabled
    background: setColorVar(input-bg-disabled) !important
.bg-input-stroke
    background: setColorVar(input-stroke) !important
.bg-input-stroke-hover
    background: setColorVar(input-stroke-hover) !important
.bg-input-stroke-disabled
    background: setColorVar(input-stroke-disabled) !important
.bg-radio-stroke
    background: setColorVar(radio-stroke) !important
.bg-radio-stroke-hover
    background: setColorVar(radio-stroke-hover) !important
.bg-radio-stroke-disabled
    background: setColorVar(radio-stroke-disabled) !important
.bg-btn-bg-hover
    background: setColorVar(btn-bg-hover) !important
.bg-btn-bg-pressed
    background: setColorVar(btn-bg-pressed) !important
.bg-btn-stroke
    background: setColorVar(btn-stroke) !important
.bg-btn-stroke-hover
    background: setColorVar(btn-stroke-hover) !important
.bg-btn-stroke-disabled
    background: setColorVar(btn-stroke-disabled) !important
.bg-orange-soft
    background: setColorVar(orange-soft) !important
.bg-orange-alpha
    background: setColorVar(orange-alpha) !important
.bg-orange-default
    background: setColorVar(orange-default) !important
.bg-orange-hover
    background: setColorVar(orange-hover) !important
.bg-orange-pressed
    background: setColorVar(orange-pressed) !important
.bg-orange-disabled
    background: setColorVar(orange-disabled) !important
.bg-blue-soft
    background: setColorVar(blue-soft) !important
.bg-blue-alpha
    background: setColorVar(blue-alpha) !important
.bg-blue-default
    background: setColorVar(blue-default) !important
.bg-blue-hover
    background: setColorVar(blue-hover) !important
.bg-blue-pressed
    background: setColorVar(blue-pressed) !important
.bg-blue-disabled
    background: setColorVar(blue-disabled) !important
.bg-red-soft
    background: setColorVar(red-soft) !important
.bg-red-alpha
    background: setColorVar(red-alpha) !important
.bg-red-default
    background: setColorVar(red-default) !important
.bg-red-hover
    background: setColorVar(red-hover) !important
.bg-red-pressed
    background: setColorVar(red-pressed) !important
.bg-red-disabled
    background: setColorVar(red-disabled) !important
.bg-yellow-soft
    background: setColorVar(yellow-soft) !important
.bg-yellow-alpha
    background: setColorVar(yellow-alpha) !important
.bg-yellow-default
    background: setColorVar(yellow-default) !important
.bg-yellow-hover
    background: setColorVar(yellow-hover) !important
.bg-yellow-pressed
    background: setColorVar(yellow-pressed) !important
.bg-yellow-disabled
    background: setColorVar(yellow-disabled) !important
.bg-green-soft
    background: setColorVar(green-soft) !important
.bg-green-alpha
    background: setColorVar(green-alpha) !important
.bg-green-default
    background: setColorVar(green-default) !important
.bg-green-hover
    background: setColorVar(green-hover) !important
.bg-green-pressed
    background: setColorVar(green-pressed) !important
.bg-green-disabled
    background: setColorVar(green-disabled) !important
.bg-teal-soft
    background: setColorVar(teal-soft) !important
.bg-teal-alpha
    background: setColorVar(teal-alpha) !important
.bg-teal-default
    background: setColorVar(teal-default) !important
.bg-teal-hover
    background: setColorVar(teal-hover) !important
.bg-teal-pressed
    background: setColorVar(teal-pressed) !important
.bg-teal-disabled
    background: setColorVar(teal-disabled) !important
.bg-light-blue-soft
    background: setColorVar(light-blue-soft) !important
.bg-light-blue-alpha
    background: setColorVar(light-blue-alpha) !important
.bg-light-blue-default
    background: setColorVar(light-blue-default) !important
.bg-light-blue-hover
    background: setColorVar(light-blue-hover) !important
.bg-light-blue-pressed
    background: setColorVar(light-blue-pressed) !important
.bg-light-blue-disabled
    background: setColorVar(light-blue-disabled) !important
.bg-light-green-soft
    background: setColorVar(light-green-soft) !important
.bg-light-green-alpha
    background: setColorVar(light-green-alpha) !important
.bg-light-green-default
    background: setColorVar(light-green-default) !important
.bg-light-green-hover
    background: setColorVar(light-green-hover) !important
.bg-light-green-pressed
    background: setColorVar(light-green-pressed) !important
.bg-light-green-disabled
    background: setColorVar(light-green-disabled) !important
.bg-ink-on-brand-black
    background: setColorVar(ink-on-brand-black) !important
.bg-ink-on-brand-black-disabled
    background: setColorVar(ink-on-brand-black-disabled) !important
.bg-ink-tooltip
    background: setColorVar(ink-tooltip) !important
.bg-tooltip-bg
    background: setColorVar(tooltip-bg) !important