@function --color($color-name)
  @return var(--q-#{$color-name})


.bg-background-1
    background: --color(background-1) !important
.bg-background-2
    background: --color(background-2) !important
.bg-background-3
    background: --color(background-3) !important
.bg-background-4
    background: --color(background-4) !important
.bg-background-5
    background: --color(background-5) !important
.bg-background-6
    background: --color(background-6) !important
.bg-background-7
    background: --color(background-7) !important
.bg-background-8
    background: --color(background-8) !important
.bg-background-9
    background: --color(background-9) !important
.bg-background-10
    background: --color(background-10) !important
.bg-background-11
    background: --color(background-11) !important
.bg-background-12
    background: --color(background-12) !important
.bg-background-hover
    background: --color(background-hover) !important
.bg-background-selected
    background: --color(background-selected) !important
.bg-background-alpha
    background: --color(background-alpha) !important
.bg-separator
    background: --color(separator) !important
.bg-separator-2
    background: --color(separator-2) !important
.bg-separator-3
    background: --color(separator-3) !important
.bg-ink-1
    background: --color(ink-1) !important
.bg-ink-2
    background: --color(ink-2) !important
.bg-ink-3
    background: --color(ink-3) !important
.bg-ink-on-brand
    background: --color(ink-on-brand) !important
.bg-ink-on-brand-disabled
    background: --color(ink-on-brand-disabled) !important
.bg-input-bg-disabled
    background: --color(input-bg-disabled) !important
.bg-input-stroke
    background: --color(input-stroke) !important
.bg-input-stroke-hover
    background: --color(input-stroke-hover) !important
.bg-input-stroke-disabled
    background: --color(input-stroke-disabled) !important
.bg-radio-stroke
    background: --color(radio-stroke) !important
.bg-radio-stroke-hover
    background: --color(radio-stroke-hover) !important
.bg-radio-stroke-disabled
    background: --color(radio-stroke-disabled) !important
.bg-btn-bg-hover
    background: --color(btn-bg-hover) !important
.bg-btn-bg-pressed
    background: --color(btn-bg-pressed) !important
.bg-btn-stroke
    background: --color(btn-stroke) !important
.bg-btn-stroke-hover
    background: --color(btn-stroke-hover) !important
.bg-btn-stroke-disabled
    background: --color(btn-stroke-disabled) !important
.bg-orange-soft
    background: --color(orange-soft) !important
.bg-orange-alpha
    background: --color(orange-alpha) !important
.bg-orange-default
    background: --color(orange-default) !important
.bg-orange-hover
    background: --color(orange-hover) !important
.bg-orange-pressed
    background: --color(orange-pressed) !important
.bg-orange-disabled
    background: --color(orange-disabled) !important
.bg-blue-soft
    background: --color(blue-soft) !important
.bg-blue-alpha
    background: --color(blue-alpha) !important
.bg-blue-default
    background: --color(blue-default) !important
.bg-blue-hover
    background: --color(blue-hover) !important
.bg-blue-pressed
    background: --color(blue-pressed) !important
.bg-blue-disabled
    background: --color(blue-disabled) !important
.bg-red-soft
    background: --color(red-soft) !important
.bg-red-alpha
    background: --color(red-alpha) !important
.bg-red-default
    background: --color(red-default) !important
.bg-red-hover
    background: --color(red-hover) !important
.bg-red-pressed
    background: --color(red-pressed) !important
.bg-red-disabled
    background: --color(red-disabled) !important
.bg-yellow-soft
    background: --color(yellow-soft) !important
.bg-yellow-alpha
    background: --color(yellow-alpha) !important
.bg-yellow-default
    background: --color(yellow-default) !important
.bg-yellow-hover
    background: --color(yellow-hover) !important
.bg-yellow-pressed
    background: --color(yellow-pressed) !important
.bg-yellow-disabled
    background: --color(yellow-disabled) !important
.bg-green-soft
    background: --color(green-soft) !important
.bg-green-alpha
    background: --color(green-alpha) !important
.bg-green-default
    background: --color(green-default) !important
.bg-green-hover
    background: --color(green-hover) !important
.bg-green-pressed
    background: --color(green-pressed) !important
.bg-green-disabled
    background: --color(green-disabled) !important
.bg-teal-soft
    background: --color(teal-soft) !important
.bg-teal-alpha
    background: --color(teal-alpha) !important
.bg-teal-default
    background: --color(teal-default) !important
.bg-teal-hover
    background: --color(teal-hover) !important
.bg-teal-pressed
    background: --color(teal-pressed) !important
.bg-teal-disabled
    background: --color(teal-disabled) !important
.bg-light-blue-soft
    background: --color(light-blue-soft) !important
.bg-light-blue-alpha
    background: --color(light-blue-alpha) !important
.bg-light-blue-default
    background: --color(light-blue-default) !important
.bg-light-blue-hover
    background: --color(light-blue-hover) !important
.bg-light-blue-pressed
    background: --color(light-blue-pressed) !important
.bg-light-blue-disabled
    background: --color(light-blue-disabled) !important
.bg-light-green-soft
    background: --color(light-green-soft) !important
.bg-light-green-alpha
    background: --color(light-green-alpha) !important
.bg-light-green-default
    background: --color(light-green-default) !important
.bg-light-green-hover
    background: --color(light-green-hover) !important
.bg-light-green-pressed
    background: --color(light-green-pressed) !important
.bg-light-green-disabled
    background: --color(light-green-disabled) !important
.bg-ink-on-brand-black
    background: --color(ink-on-brand-black) !important
.bg-ink-on-brand-black-disabled
    background: --color(ink-on-brand-black-disabled) !important
.bg-ink-tooltip
    background: --color(ink-tooltip) !important
.bg-tooltip-bg
    background: --color(tooltip-bg) !important