@function setColorVar($color-name)
  @return var(--q-#{$color-name})


.text-background-1
    color: setColorVar(background-1) !important
.text-background-2
    color: setColorVar(background-2) !important
.text-background-3
    color: setColorVar(background-3) !important
.text-background-4
    color: setColorVar(background-4) !important
.text-background-5
    color: setColorVar(background-5) !important
.text-background-6
    color: setColorVar(background-6) !important
.text-background-7
    color: setColorVar(background-7) !important
.text-background-8
    color: setColorVar(background-8) !important
.text-background-9
    color: setColorVar(background-9) !important
.text-background-10
    color: setColorVar(background-10) !important
.text-background-11
    color: setColorVar(background-11) !important
.text-background-12
    color: setColorVar(background-12) !important
.text-background-hover
    color: setColorVar(background-hover) !important
.text-background-selected
    color: setColorVar(background-selected) !important
.text-background-alpha
    color: setColorVar(background-alpha) !important
.text-separator
    color: setColorVar(separator) !important
.text-separator-2
    color: setColorVar(separator-2) !important
.text-separator-3
    color: setColorVar(separator-3) !important
.text-ink-1
    color: setColorVar(ink-1) !important
.text-ink-2
    color: setColorVar(ink-2) !important
.text-ink-3
    color: setColorVar(ink-3) !important
.text-ink-on-brand
    color: setColorVar(ink-on-brand) !important
.text-ink-on-brand-disabled
    color: setColorVar(ink-on-brand-disabled) !important
.text-input-bg-disabled
    color: setColorVar(input-bg-disabled) !important
.text-input-stroke
    color: setColorVar(input-stroke) !important
.text-input-stroke-hover
    color: setColorVar(input-stroke-hover) !important
.text-input-stroke-disabled
    color: setColorVar(input-stroke-disabled) !important
.text-radio-stroke
    color: setColorVar(radio-stroke) !important
.text-radio-stroke-hover
    color: setColorVar(radio-stroke-hover) !important
.text-radio-stroke-disabled
    color: setColorVar(radio-stroke-disabled) !important
.text-btn-bg-hover
    color: setColorVar(btn-bg-hover) !important
.text-btn-bg-pressed
    color: setColorVar(btn-bg-pressed) !important
.text-btn-stroke
    color: setColorVar(btn-stroke) !important
.text-btn-stroke-hover
    color: setColorVar(btn-stroke-hover) !important
.text-btn-stroke-disabled
    color: setColorVar(btn-stroke-disabled) !important
.text-orange-soft
    color: setColorVar(orange-soft) !important
.text-orange-alpha
    color: setColorVar(orange-alpha) !important
.text-orange-default
    color: setColorVar(orange-default) !important
.text-orange-hover
    color: setColorVar(orange-hover) !important
.text-orange-pressed
    color: setColorVar(orange-pressed) !important
.text-orange-disabled
    color: setColorVar(orange-disabled) !important
.text-blue-soft
    color: setColorVar(blue-soft) !important
.text-blue-alpha
    color: setColorVar(blue-alpha) !important
.text-blue-default
    color: setColorVar(blue-default) !important
.text-blue-hover
    color: setColorVar(blue-hover) !important
.text-blue-pressed
    color: setColorVar(blue-pressed) !important
.text-blue-disabled
    color: setColorVar(blue-disabled) !important
.text-red-soft
    color: setColorVar(red-soft) !important
.text-red-alpha
    color: setColorVar(red-alpha) !important
.text-red-default
    color: setColorVar(red-default) !important
.text-red-hover
    color: setColorVar(red-hover) !important
.text-red-pressed
    color: setColorVar(red-pressed) !important
.text-red-disabled
    color: setColorVar(red-disabled) !important
.text-yellow-soft
    color: setColorVar(yellow-soft) !important
.text-yellow-alpha
    color: setColorVar(yellow-alpha) !important
.text-yellow-default
    color: setColorVar(yellow-default) !important
.text-yellow-hover
    color: setColorVar(yellow-hover) !important
.text-yellow-pressed
    color: setColorVar(yellow-pressed) !important
.text-yellow-disabled
    color: setColorVar(yellow-disabled) !important
.text-green-soft
    color: setColorVar(green-soft) !important
.text-green-alpha
    color: setColorVar(green-alpha) !important
.text-green-default
    color: setColorVar(green-default) !important
.text-green-hover
    color: setColorVar(green-hover) !important
.text-green-pressed
    color: setColorVar(green-pressed) !important
.text-green-disabled
    color: setColorVar(green-disabled) !important
.text-teal-soft
    color: setColorVar(teal-soft) !important
.text-teal-alpha
    color: setColorVar(teal-alpha) !important
.text-teal-default
    color: setColorVar(teal-default) !important
.text-teal-hover
    color: setColorVar(teal-hover) !important
.text-teal-pressed
    color: setColorVar(teal-pressed) !important
.text-teal-disabled
    color: setColorVar(teal-disabled) !important
.text-light-blue-soft
    color: setColorVar(light-blue-soft) !important
.text-light-blue-alpha
    color: setColorVar(light-blue-alpha) !important
.text-light-blue-default
    color: setColorVar(light-blue-default) !important
.text-light-blue-hover
    color: setColorVar(light-blue-hover) !important
.text-light-blue-pressed
    color: setColorVar(light-blue-pressed) !important
.text-light-blue-disabled
    color: setColorVar(light-blue-disabled) !important
.text-light-green-soft
    color: setColorVar(light-green-soft) !important
.text-light-green-alpha
    color: setColorVar(light-green-alpha) !important
.text-light-green-default
    color: setColorVar(light-green-default) !important
.text-light-green-hover
    color: setColorVar(light-green-hover) !important
.text-light-green-pressed
    color: setColorVar(light-green-pressed) !important
.text-light-green-disabled
    color: setColorVar(light-green-disabled) !important
.text-ink-on-brand-black
    color: setColorVar(ink-on-brand-black) !important
.text-ink-on-brand-black-disabled
    color: setColorVar(ink-on-brand-black-disabled) !important
.text-tooltip-bg
    color: setColorVar(tooltip-bg) !important
.text-ink-tooltip
    color: setColorVar(ink-tooltip) !important